<div class="h-screen w-screen flex flex-col items-center">
  <h1 class="text-black font-medium text-3xl pt-48 pb-20">{{ title }}</h1>
  <div class="pb-5">
    <h1 class="text-lg">Words After:</h1>
    @if (submitResult | async; as result) {
      @for (g of result.guesses.after; track $index) {
        <h2>{{ g }}</h2>
      }
    }
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="flex flex-row">
    <input
      class="shadow
      appearance-none
      border rounded
      py-2 px-3
      mr-2
      text-gray-700 leading-tight
      focus:outline-none
      focus:shadow-outline"
      formControlName="guess"
      id="username">
    <button
      [disabled]="form.errors"
      class="shadow bg-orange-500 hover:bg-orange-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-3 rounded">
      Guess
    </button>
  </form>
  <div class="pt-5">
    @if (submitResult | async; as result) {
      @for (g of result.guesses.before; track $index) {
        <h2>{{ g }}</h2>
      }
    }
    <h2 class="text-lg">Words Before:</h2>
  </div>
</div>
