<div
  class="container mx-auto px-96 h-screen w-screen flex flex-col items-center space-y-2">
  <h1 class="text-6xl text-black font-medium pt-16">betaguess</h1>
  <h2 class="text-2xl text-black italic font-normal">
    Guess the word of the day. Your guesses will show where the word sits
    alphabetically.
  </h2>
  <h1 class="text-4xl">After:</h1>
  <app-guess-list [guesses]="after()" position='last' [hints]="hints()"></app-guess-list>
  <form
    (ngSubmit)="onSubmit(guessForm)"
    #guessForm="ngForm"
    [ngFormOptions]="{ updateOn: 'submit' }"
    class="flex flex-row space-x-4">
    <input
      autocomplete="off"
      class="shadow appearance-none border rounded p-2 text-gray-700 leading-tight focus:outline-none placeholder:tracking-wide placeholder:italic focus:shadow-outline"
      placeholder="Guess..."
      pattern="\w+"
      #guessControl="ngModel"
      [(ngModel)]="guess"
      name="guess"
      [appGuessValidator]="summary()"
      id="guess" />
    <button
      class="shadow bg-orange-500 hover:bg-orange-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-3 rounded"
      type="submit">
      Guess
    </button>
    <button
      (click)="giveUp(guessForm)"
      class="shadow bg-orange-500 hover:bg-orange-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-3 rounded">
      Give up?
    </button>
  </form>
  @if (guessControl.errors) {
    <div
      class="mx-auto bg-red-100 border shadow border-red-400 text-red-700 px-4 py-3 rounded"
      role="alert">
      @if (guessControl.hasError('pattern')) {
        <strong class="font-bold">Invalid Guess. </strong>
        <span class="sm:inline">Must contain one word, no spaces.</span>
      } @else if (guessControl.hasError('isInvalidWord')) {
        <strong class="font-bold">Invalid Word. </strong>
        <span class="sm:inline">Guess must be Scrabble-accepted.</span>
      } @else if (guessControl.hasError('alreadyGuessed')) {
        <strong class="font-bold">Already Guessed.</strong>
      }
    </div>
  }
  @if (summary().isGameOver) {
    <h1 class="text-7xl m-4">You guessed it!</h1>
  }
  <app-guess-list [guesses]="before()" position='first' [hints]="hints()"></app-guess-list>
  <h1 class="text-4xl">Before:</h1>
</div>
